body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	--main-text-color: #F7F7F7;
	--secondary-text-color: #A4A4A4;
	--main-bg-color:rgba(0,0,0,0.92);
	--menu-text-color:#5C79BD;
	--menu-secondary-text-color:#5C79BD;
	--tech-bg-color:#E1ECF4;
	--tech-text-color:#7D90A7;
    --box-boder-color:#E5E5E5;
    --box-skills-color:#F9F9F9;
}

a {
    text-decoration: none;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.clearfix:after{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.navbar {
	background-color: var(--main-text-color);
	width:100%;
	position: fixed;
	top: 0;
}

.navbar > .navbar-list {
	list-style-type: none;
	margin:0;
	float:left;
	font-size: 0px;
}

.navbar > .navbar-list > .navbar-item {
	display: inline;
	font-size: 16px;
}

.navbar > .navbar-list > .navbar-item a {
	padding: 20px;
	text-decoration: none;
	color: var(--main-bg-color);
	display: inline-block;	
}

.navbar > .navbar-list > .navbar-item.active a {
	color: var(--main-text-color);
	background-color: var(--secondary-text-color);
}

.navbar > .navbar-list > .navbar-item a:hover{
 	color: var(--main-text-color) ;
 	background-color: var(--menu-text-color);
}

.header-img{
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/backstretch.jpg);
    height: 100vh;
}

.header-title{
    position: absolute;
    top:30%;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 100px;
}

.header-quoted {
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 28px;
}

.section-container{
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-title{
    text-align: center;
    font-variant: all-small-caps;
    font-weight: 900;
    color:rgba(0,0,0,0.85);

}

.profile {
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
}

.profile-photo > img{
	height: 300px;
	max-width: 300px;
	border-radius: 50%;
}

.profile-social-nerdwork > h5 {
	display: block;
}

.profile-social-nerdwork > h5 > a{
    padding: 3px;
	text-decoration: none;
}

.work-experience-flex, .education-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.work-experience{

}

.experience-item, .education-item{
    background: #fff;
    border: 1px solid var(--box-boder-color);
    padding: 4px;
    margin-bottom: 30px;
    margin-left: 30px;
    border-radius: 5px;
    width: 400px;
    max-height: 400px;
}

.experience-item:hover{
    box-shadow: 0 0 0 1px var(--menu-secondary-text-color);
    transition: all 200ms ease-out;
}

.experience-header, .education-header {
    text-align: center;
}

.experience-detail, .education-detail {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.experience-detail > i, .education-detail > i{
    padding-bottom: 20px;
}

.experience-detail .fa, .education-detail .fa  {
    display: block;
}

.fa > .position, .fa > .degree {
    font-weight: 500;
    font-size:20px ;
    font-variant: all-small-caps;
}

.experience-tech{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    width: 100%;
}

.skills{

}
.skill-tech-item{
    padding: 5px;
    margin-bottom: 5px;
    background-color: var(--tech-bg-color);
    color: var(--tech-text-color);
}

.skills-flex{
   display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    width: 100%;
}

.skills-flex > span{
    margin: 20px;
}

.sprite-git{
    width: 63px;
    height: 60px;
    background-position: -352px -9px;
}
.sprite-mysql{
    width: 63px;
    height: 60px;
    background-position: -226px -11px;
}
.sprite-android{
    width: 63px;
    height: 60px;
    background-position: -97px -8px;
}
.sprite-html5{
    width: 63px;
    height: 60px;
    background-position:  -487px -9px;
}
.sprite-css3{
    width: 63px;
    height: 60px;
    background-position:-417px -11px;
}
.sprite-java{
    width: 63px;
    height: 60px;
    background-position: -96px -77px;
}
.sprite-linux{
    width: 63px;
    height: 60px;
    background-position: -33px -78px;
}
.sprite-mongodb{
    width: 63px;
    height: 60px;
    background-position: -284px -11px;
}
.sprite-nodejs{
    width: 63px;
    height: 60px;
    background-position: -100px -145px;
}
.sprite-xcode{
    width: 63px;
    height: 60px;
    background-position: -488px -80px;
}
.sprite-sqldeveloper{
    width: 63px;
    height: 60px;
    background-position: -224px -81px;
}
.sprite-webstorm{
    width: 63px;
    height: 60px;
    background-position: -284px -81px;
}
.sprite-sublimetext{
    width: 63px;
    height: 60px;
    background-position: -30px -145px;
}
.sprite-objc{
    width: 63px;
    height: 60px;
    background-position: -285px -149px;
}
.sprite-javascript{
    width: 63px;
    height: 60px;
    background-position: -417px -80px;
}
.sprite-sketch{
    width: 63px;
    height: 60px;
    background-position: -162px -149px;
}
.sprite-androidstudio{
    width: 63px;
    height: 60px;
    background-position: -223px -149px;
}
.sprite-netbeans{
    width: 63px;
    height: 60px;
    background-position: -100px -212px;
}
.sprite-eclipse{
    width: 63px;
    height: 60px;
    background-position: -32px -212px;
}
.sprite-vstudio{
    width: 63px;
    height: 60px;
    background-position: -351px -144px;
}
.sprite-inkscape{
    width: 63px;
    height: 60px;
    background-position: -284px -213px;
}
.sprite-joomla{
    width: 63px;
    height: 60px;
    background-position: -162px -213px;;
}
.sprite-msaccess{
    width: 63px;
    height: 60px;
    background-position: -352px -80px;
}
.sprite-sqlserver{
    width: 63px;
    height: 60px;
    background-position: -417px -145px;
}
.sprite-svn{
    width: 63px;
    height: 60px;
    background-position: -417px -212px;
}
.sprite-delphi{
    width: 63px;
    height: 60px;
    background-position: -352px -212px;
}
.sprite-win2server{
    width: 63px;
    height: 60px;
    background-position: -223px -212px;
}
.sprite-php{
    width: 63px;
    height: 60px;
    background-position: -161px -11px;
}
.sprite-jquery{
    width: 63px;
    height: 60px;
    background-position: -162px -79px;
}
.sprite-osx{
    width: 63px;
    height: 60px;
    background-position: -33px -11px;
}

.img-git{
    position: relative;
    top: -10px;
    left: 190px;
}

.img-mysql{
    position: relative;
    top:-500px;
    left: 190px;
}

.img-android{
    position: relative;
    top: -2px;
    left: 221px;
}
.img-html5{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-css3{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-java{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-linux{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-mongodb{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-php{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-jquery{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-osx{
    position: relative;
    top:-500px;
    left: 190px;
}

.education {
	padding: 10px;
}
.education-item{
    width: 300px;
    max-height: 300px;
}

.time-info {
	font-size: 14px;
	font-weight: lighter;
	color: var(--secondary-text-color);
}

.project-tech {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
}

.footer{
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	height: 50px;
	display: flex;
	align-items:center;
	justify-content:center;
}