body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	--main-text-color: #F7F7F7;
	--secondary-text-color: #A4A4A4;
    --third-text-color:#F9F9F9;
	--main-bg-color:rgba(0,0,0,0.92);
    --section-bg-color:#3DA0D4;
	--menu-text-color:#42B5EF;
	--menu-secondary-text-color:#5C79BD;
	--tech-bg-color:#E1ECF4;
	--tech-text-color:#7D90A7;
    --box-boder-color:#E5E5E5;
    --box-skills-color:#F9F9F9;
    background-color: #DCDCDC;
}

a {
    text-decoration: none;
}

@keyframes typing {
    from { width: 0; }
}
@keyframes blink-caret {
    50% { border-color: transparent; }
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.clearfix:after{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.navbar {
	background-color: var(--main-text-color);
	width:100%;
	position: fixed;
	top: 0;
    z-index: 1;
}

.navbar > .navbar-list {
	list-style-type: none;
	margin:0;
	float:left;
	font-size: 0px;
}

.navbar > .navbar-list > .navbar-item {
	display: inline;
	font-size: 16px;
}

.navbar > .navbar-list > .navbar-item a {
	padding: 20px;
	text-decoration: none;
	color: var(--main-bg-color);
	display: inline-block;	
}

.navbar > .navbar-list > .navbar-item.active a {
	color: var(--main-text-color);
	background-color: var(--section-bg-color);
}

.navbar > .navbar-list > .navbar-item a:hover{
 	color: var(--main-text-color) ;
 	background-color: var(--section-bg-color);
}

.header-img{
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/backstrech.jpg);
    height: 100vh;
}

.header-title{
    position: absolute;
    top:20%;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: #D1ECFD;
    font-size: 100px;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}

.header-quoted {
    position: absolute;
    top: 46%;
    left: 32%;
    z-index: 1;
    text-align: center;
    color: #D1ECFD;
    font-size: 60px;
    width: calc(0.55em * 18);
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: .1em solid #D1ECFD;
    -webkit-animation:typing 5s steps(18, end),
    blink-caret .5s step-end infinite alternate;
    -o-animation:typing 5s steps(18, end),
    blink-caret .5s step-end infinite alternate;
    animation:typing 5s steps(18, end),
    blink-caret .5s step-end infinite alternate;
}

.section-container{
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-title{
    text-align: center;
    font-variant: all-small-caps;
    font-weight: 900;
    color:rgba(0,0,0,0.85);
}

.profile {
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
}

.profile-photo > img{
	height: 300px;
	max-width: 300px;
	border-radius: 50%;
}

.profile-social-nerdwork > h5 {
	display: block;
}

.profile-social-nerdwork > h5 > a{
    padding: 3px;
	text-decoration: none;
}

.work-experience-flex, .education-flex, .course-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.experience-item, .education-item, .course-item{
    background: #fff;
    border: 1px solid var(--box-boder-color);
    padding: 4px;
    margin-bottom: 30px;
    margin-left: 30px;
    border-radius: 5px;
    width: 400px;
    max-height: 400px;
}

.experience-item:hover{
    box-shadow: 0 0 0 1px var(--section-bg-color);
    transition: all 200ms ease-out;
}

.experience-header, .education-header, .course-header {
    text-align: center;
}

.experience-detail, .education-detail, .course-detail {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.experience-detail > i, .education-detail > i, .course-detail >i{
    padding-bottom: 20px;
}

.experience-detail .fa, .education-detail .fa, .course-detail .fa {
    display: block;
}

.fa > .position, .fa > .degree {
    font-weight: 500;
    font-size:20px ;
    font-variant: all-small-caps;
}

.experience-tech{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    width: 100%;
}

.skill-tech-item{
    padding: 5px;
    margin-bottom: 5px;
    background-color: var(--tech-bg-color);
    color: var(--tech-text-color);
}

.skills-flex{
   display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    width: 100%;
}

.skills-flex > span{
    margin: 20px 20px;
}

.sprite-git{
    width: 63px;
    height: 60px;
    background-position: -352px -9px;
}
.sprite-mysql{
    width: 63px;
    height: 60px;
    background-position: -226px -11px;
}
.sprite-android{
    width: 63px;
    height: 60px;
    background-position: -97px -8px;
}
.sprite-html5{
    width: 63px;
    height: 60px;
    background-position:  -487px -9px;
}
.sprite-css3{
    width: 63px;
    height: 60px;
    background-position:-417px -11px;
}
.sprite-java{
    width: 63px;
    height: 60px;
    background-position: -96px -77px;
}
.sprite-linux{
    width: 63px;
    height: 60px;
    background-position: -33px -78px;
}
.sprite-mongodb{
    width: 63px;
    height: 60px;
    background-position: -284px -11px;
}
.sprite-nodejs{
    width: 63px;
    height: 60px;
    background-position: -100px -145px;
}
.sprite-xcode{
    width: 63px;
    height: 60px;
    background-position: -488px -80px;
}
.sprite-sqldeveloper{
    width: 63px;
    height: 60px;
    background-position: -224px -81px;
}
.sprite-webstorm{
    width: 63px;
    height: 60px;
    background-position: -284px -81px;
}
.sprite-sublimetext{
    width: 63px;
    height: 60px;
    background-position: -30px -145px;
}
.sprite-objc{
    width: 63px;
    height: 60px;
    background-position: -285px -149px;
}
.sprite-javascript{
    width: 63px;
    height: 60px;
    background-position: -417px -80px;
}
.sprite-sketch{
    width: 63px;
    height: 60px;
    background-position: -162px -149px;
}
.sprite-androidstudio{
    width: 63px;
    height: 60px;
    background-position: -223px -149px;
}
.sprite-netbeans{
    width: 63px;
    height: 60px;
    background-position: -100px -212px;
}
.sprite-eclipse{
    width: 63px;
    height: 60px;
    background-position: -32px -212px;
}
.sprite-vstudio{
    width: 63px;
    height: 60px;
    background-position: -351px -144px;
}
.sprite-inkscape{
    width: 63px;
    height: 60px;
    background-position: -284px -213px;
}
.sprite-joomla{
    width: 63px;
    height: 60px;
    background-position: -162px -213px;;
}
.sprite-msaccess{
    width: 63px;
    height: 60px;
    background-position: -352px -80px;
}
.sprite-sqlserver{
    width: 63px;
    height: 60px;
    background-position: -417px -145px;
}
.sprite-svn{
    width: 63px;
    height: 60px;
    background-position: -417px -212px;
}
.sprite-delphi{
    width: 63px;
    height: 60px;
    background-position: -352px -212px;
}
.sprite-win2server{
    width: 63px;
    height: 60px;
    background-position: -223px -212px;
}
.sprite-php{
    width: 63px;
    height: 60px;
    background-position: -161px -11px;
}
.sprite-jquery{
    width: 63px;
    height: 60px;
    background-position: -162px -79px;
}
.sprite-osx{
    width: 63px;
    height: 60px;
    background-position: -33px -11px;
}

.img-git{
    position: relative;
    top: -10px;
    left: 190px;
}

.img-mysql{
    position: relative;
    top:-500px;
    left: 190px;
}

.img-android{
    position: relative;
    top: -2px;
    left: 221px;
}
.img-html5{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-css3{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-java{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-linux{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-mongodb{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-php{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-jquery{
    position: relative;
    top:-500px;
    left: 190px;
}
.img-osx{
    position: relative;
    top:-500px;
    left: 190px;
}

.education {
	padding: 10px;
}
.education-item{
    width: 300px;
    max-height: 300px;
}

.time-info {
	font-size: 14px;
	font-weight: lighter;
	color: var(--secondary-text-color);
}

.about-me > .me-video {
    float: left;
    max-width: 50%;
}

.about-me > .me-info {
    float: right;
    max-width: 50%;
}

.form-row {
    padding: 10px;
    color:var(--box-skills-color);
}

.section-reverse{
    background-color: var(--section-bg-color);
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    color: #fff;
}

.centered{
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}
.contact input[type="text"], #contact textarea, .contact input[type="email"], .contact input[type="tel"] {
    background-color: #fff;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
    background-color: #fff;
    font-family: inherit;
    font-size: 1em;
    font-style: italic;
    width: 96%;
    padding: 0 2%;
    height: 40px;
    line-height: 40px;
    font-size: 1em;
    background-color: #ccc;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize: none;
}

.hidden {
    display: none;
}

.personal-info > .form-row > label, .meeting-title {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin-bottom: 10px;
}

.meeting-option{
    font-variant: all-small-caps;
    font-size: large;
}

textarea {
    height: auto;
    line-height: 1em;
    padding: 2%;
}

input[type=button], input[type=submit], button {
    background-color: #2181BD!important;
    border: none;
    color: #fff;
    padding: 15px 40px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.15em;
}

.errormsg {
    color: #dd4b39;
    display: block;
    line-height: 17px;
    margin: .5em 0 0;
}

.alertmsg {
    color: #E9F015;
    display: block;
    line-height: 17px;
    margin: .5em 0 0;
}

.invalid {
    border: 2px solid #dd4b39;
}

.footer{
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	height: 50px;
	display: flex;
	align-items:center;
	justify-content:center;
}