body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	--main-text-color: #F7F7F7;
	--secondary-text-color: #A4A4A4;
	--main-bg-color:rgba(0,0,0,0.92);
	--menu-text-color:#5C79BD;
	--menu-secondary-text-color:#5C79BD;
	--tech-bg-color:#E1ECF4;
	--tech-text-color:#7D90A7;
}

.clearfix:after{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.navbar {
	background-color: var(--main-text-color);
	width:100%;
	position: fixed;
	top: 0;
}

.navbar > .navbar-list {
	list-style-type: none;
	margin:0;
	float:left;
	font-size: 0px;
}

.navbar > .navbar-list > .navbar-item {
	display: inline;
	font-size: 16px;
}

.navbar > .navbar-list > .navbar-item a {
	padding: 20px;
	text-decoration: none;
	color: var(--main-bg-color);
	display: inline-block;	
}

.navbar > .navbar-list > .navbar-item.active a {
	color: var(--main-text-color);
	background-color: var (--secondary-text-color);
}
 .navbar > .navbar-list > .navbar-item a:hover{
 	color: var(--main-text-color) ;
 	background-color: var(--menu-text-color);
 }

.header-img{
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/portada.jpg);
    height: 100vh;
}

.skills-tech{
	top:35%;
	width: 100%;
	color: white;
	position: absolute;
}

.tech{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
}

.skills-language{
	top:65%;
	width: 100%;
	color: white;
	position: absolute;
}
.language{
	display:flex;
	flex-direction:row-reverse;
	flex-wrap:wrap;
	justify-content:space-around;
	align-self:center;
}

.one{
	order:1;
}
.two{
	order:2;
}
.three{
	order:3;
}
.four{
	order:4;
}
.five{
	order:5;
}
.six{
	order:6;
}
.seven{
	order:7;
}
.eight{
	order:8;
}
.nine{
	order:9;
}

.section-container{
	padding-top: 30px;
	padding-bottom: 30px;
}

.profile {
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
}

.profile-photo > img{
	height: 300px;
	max-width: 300px;
	border-radius: 50%;
}

.profile-social-nerdwork > h5 {
	display: block;
}

.profile-social-nerdwork > h5 > a{
	padding: 3px;
	text-decoration: none;
}

.education {
	padding: 10px;
}

.education-item{
	border: 1px solid var(--secondary-text-color);
	margin-bottom: 40px;
	padding-left: 5px;
}

.education-item > p{
	font-size: 16px;
	font-weight: bold;
}

.time-info {
	font-size: 14px;
	font-weight: lighter;
	color: var(--secondary-text-color);
}

.experience-item{
	border: 1px solid  var(--secondary-text-color);
	border-top: 2px solid var(--menu-text-color);
	padding: 20px;
	/*padding-bottom: 10px;*/
	margin-bottom: 30px;
}

.experience-tech{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:center;
	width: 100%;
}

.experience-tech-item{
	padding: 5px;
	background-color: var(--tech-bg-color);
	color: var(--tech-text-color);
}

a {
	text-decoration: none;	
}

.footer{
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	height: 50px;
	display: flex;
	align-items:center;
	justify-content:center;
}





