body {
    background-color: #DCDCDC;
    font-family: 'Roboto';
	margin: 0;
	padding: 0;
	--main-text-color: #F7F7F7;
	--secondary-text-color: #A4A4A4;
    --third-text-color:#F9F9F9;
	--main-bg-color:rgba(0,0,0,0.92);
    --section-bg-color:#3DA0D4;
	--menu-text-color:#42B5EF;
	--menu-secondary-text-color:#5C79BD;
	--tech-bg-color:#E1ECF4;
	--tech-text-color:#7D90A7;
    --box-boder-color:#E5E5E5;
    --box-skills-color:#F9F9F9;
}

a {
    text-decoration: none;
}

@keyframes typing {
    from { 
        width: 0; 
    }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.clearfix:after {
    content: " ";
    clear: both;
	display: block;
    height: 0;
    visibility: hidden;
}

.navbar {
    background-color: var(--main-text-color);
    background-color: #F7F7F7;
	position: fixed;
	top: 0;
    width:100%;
    z-index: 1;
}

.navbar > .navbar-list {
    float:left;
	font-size: 0px;
	list-style-type: none;
	margin:0;
}

.navbar > .navbar-list > .navbar-item {
    font-size: 16px;
	display: inline;
}

.navbar > .navbar-list > .navbar-item a {
    color: var(--main-bg-color);
    color: rgba(0,0,0,0.92);
	display: inline-block;	
	padding: 20px;
	text-decoration: none;
}

.navbar > .navbar-list > .navbar-item.active a {
    color: var(--main-text-color);
    color: #F7F7F7;
    background-color: var(--section-bg-color);
    background-color: #3DA0D4
}

tbody > tr:hover,
.navbar > .navbar-list > .navbar-item a:hover{
     color: var(--main-text-color) ;
     color:#F7F7F7;
     background-color: var(--section-bg-color);
     background-color: #3DA0D4;
}

.header-img {
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/backstrech.jpg);
    height: 100vh;
}

.header-title {
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    color: #D1ECFD;
    font-size: 100px;
    position: absolute;
    top:20%;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.header-quoted {
    position: absolute;
    top: 46%;
    left: 32%;
    z-index: 1;
    text-align: center;
    color: #D1ECFD;
    font-size: 60px;
    width: calc(0.55em * 18);
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
}

.section-container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-title {
    color:rgba(0,0,0,0.85);
    font-variant: all-small-caps;
    font-weight: 900;
    text-align: center; 
}

.profile {
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
}

.profile-photo > img {
    border-radius: 50%;
	height: 300px;
	max-width: 300px;
}

.profile-social-nerdwork > h5 {
	display: block;
}

.profile-social-nerdwork > h5 > a{
    padding: 3px;
	text-decoration: none;
}

.work-experience-flex, 
.education-flex, 
.course-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.experience-item, 
.education-item, 
.course-item {
    background: #fff;
    border: 1px solid var(--box-boder-color);
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 30px;
    margin-left: 30px;
    max-height: 400px;
    width: 400px;
}

.experience-item:hover {
    box-shadow: 0 0 0 1px var(--section-bg-color);
    transition: all 200ms ease-out;
}

.experience-header, 
.education-header, 
.course-header {
    text-align: center;
}

.experience-detail, 
.education-detail, 
.course-detail {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.experience-detail > i, 
.education-detail > i, 
.course-detail >i {
    padding-bottom: 20px;
}

.experience-detail .fa, 
.education-detail .fa, 
.course-detail .fa {
    display: block;
}

.fa > .position, .fa > .degree {
    font-weight: 500;
    font-size:20px ;
    font-variant: all-small-caps;
}

.experience-tech {
    align-items:center;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    width: 100%;
}

.skill-tech-item {
    background-color: var(--tech-bg-color);
    color: var(--tech-text-color);
    margin-bottom: 5px;
    padding: 5px;
}

.skills-flex {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: space-around;
    width: 100%;
}

.skills-flex > span {
    margin: 20px 20px;
}

.sprite-git {
    background-position: -352px -9px;
    height: 60px;
    width: 63px;
}

.sprite-mysql {
    background-position: -226px -11px;
    height: 60px;
    width: 63px;
}

.sprite-android {
    background-position: -97px -8px;
    height: 60px;
    width: 63px; 
}

.sprite-html5 {
    width: 63px;
    height: 60px;
    background-position:  -487px -9px;
}

.sprite-css3 {
    width: 63px;
    height: 60px;
    background-position:-417px -11px;
}

.sprite-java {
    width: 63px;
    height: 60px;
    background-position: -96px -77px;
}

.sprite-linux {
    width: 63px;
    height: 60px;
    background-position: -33px -78px;
}

.sprite-mongodb {
    width: 63px;
    height: 60px;
    background-position: -284px -11px;
}

.sprite-nodejs {
    width: 63px;
    height: 60px;
    background-position: -100px -145px;
}

.sprite-xcode {
    width: 63px;
    height: 60px;
    background-position: -488px -80px;
}

.sprite-sqldeveloper {
    width: 63px;
    height: 60px;
    background-position: -224px -81px;
}

.sprite-webstorm {
    width: 63px;
    height: 60px;
    background-position: -284px -81px;
}

.sprite-sublimetext {
    width: 63px;
    height: 60px;
    background-position: -30px -145px;
}

.sprite-objc {
    width: 63px;
    height: 60px;
    background-position: -285px -149px;
}

.sprite-javascript {
    width: 63px;
    height: 60px;
    background-position: -417px -80px;
}

.sprite-sketch {
    width: 63px;
    height: 60px;
    background-position: -162px -149px;
}

.sprite-androidstudio {
    width: 63px;
    height: 60px;
    background-position: -223px -149px;
}

.sprite-netbeans{
    width: 63px;
    height: 60px;
    background-position: -100px -212px;
}

.sprite-eclipse {
    width: 63px;
    height: 60px;
    background-position: -32px -212px;
}
.sprite-vstudio {
    width: 63px;
    height: 60px;
    background-position: -351px -144px;
}

.sprite-inkscape {
    width: 63px;
    height: 60px;
    background-position: -284px -213px;
}

.sprite-joomla {
    width: 63px;
    height: 60px;
    background-position: -162px -213px;;
}

.sprite-msaccess {
    width: 63px;
    height: 60px;
    background-position: -352px -80px;
}

.sprite-sqlserver {
    width: 63px;
    height: 60px;
    background-position: -417px -145px;
}

.sprite-svn {
    width: 63px;
    height: 60px;
    background-position: -417px -212px;
}

.sprite-delphi {
    width: 63px;
    height: 60px;
    background-position: -352px -212px;
}

.sprite-win2server {
    width: 63px;
    height: 60px;
    background-position: -223px -212px;
}

.sprite-php {
    width: 63px;
    height: 60px;
    background-position: -161px -11px;
}

.sprite-jquery {
    width: 63px;
    height: 60px;
    background-position: -162px -79px;
}

.sprite-osx {
    width: 63px;
    height: 60px;
    background-position: -33px -11px;
}

.education {
	padding: 10px;
}
.education-item{
    max-height: 300px;
    width: 300px;
}

.time-info {
    color: var(--secondary-text-color);
	font-size: 14px;
	font-weight: lighter;
}

.about-me > .me-video {
    float: left;
    max-width: 50%;
}

.about-me > .me-info {
    float: right;
    max-width: 50%;
}

.form-row {
    color:var(--box-skills-color);
    padding: 10px;
}

.section-reverse {
    background-color: var(--section-bg-color);
    background-color: #3DA0D4;
    color: #fff;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.centered {
    box-sizing: border-box;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
}

.contact input[type="text"], 
#contact textarea, 
.contact input[type="email"], 
.contact input[type="tel"] {
    background-color: #fff;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
textarea {
    background-color: #fff;
    background-color: #ccc;
    border: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 1em;
    font-family: inherit;
    font-size: 1em;
    font-style: italic;
    height: 40px;
    line-height: 40px;
    padding: 0 2%;
    resize: none;
    width: 96%;
}

.hidden {
    display: none;
}

.personal-info > .form-row > label, 
.meeting-title {
    display: block;
    letter-spacing: 0.15em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.meeting-option {
    font-variant: all-small-caps;
    font-size: large;
}

textarea {
    height: auto;
    line-height: 1em;
    padding: 2%;
}

input[type=button], 
input[type=submit], 
button {
    background-color: #2181BD!important;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 900; 
    letter-spacing: 0.15em;
    margin: 4px 2px;
    padding: 15px 40px;
    text-decoration: none;
    text-transform: uppercase;
}

.errormsg {
    color: #dd4b39;
    display: block;
    line-height: 17px;
    margin: .5em 0 0;
}

.alertmsg {
    color: #E9F015;
    display: block;
    line-height: 17px;
    margin: .5em 0 0;
}

.invalid {
    border: 2px solid #dd4b39;
}

.inbox > .section-title {
    margin-top: 50px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%
}

thead > tr {
    background-color: #F5F5F5;
}

th {
    height: 30px;
    text-align: left
}

th, 
td {
    border-bottom: 1px solid #fff;
    padding: 8px;
    width: 5px;
}

tbody > tr:hover {
    cursor: pointer;
}

.button-remove {
    background-color: #E84C3D !important;
    padding: 5px;
}

.message-body {
    margin-bottom: 5px;
    padding: 20px;
}

.phone {
    float: right; 
}

.footer {
    align-items:center;
    background-color: var(--main-bg-color);
    background-color:  rgba(0,0,0,0.92);
    color: var(--main-text-color);
    color: #F7F7F7;
    display: flex;
	height: 50px;
	justify-content:center;
}