<head>
    <meta charset="UTF-8">
    <title>Yosnier Samon Macias - Software Developer</title>
    <meta name="description" content="Yosnier Samon Macias Interactive resume, Software developer, Web developer, iOS developer, Android developer">
    <link rel="canonical" href="http://yosamac.com/">
    <meta name="keywords" content="Interactive resume, Software developer, Web developer, Web developer, iOS developer, Android developer">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Yosnier Samon Macias">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    
    <link rel="stylesheet" href="./css/style.css" type="text/css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115055026-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-115055026-1');
    </script>
</head>