<header class="header">
    <h1 class="header-title">Yosnier Samon Macias</h1>
    <div class="header-img"></div>
    <p class="header-quoted animated fadeInDownBig">Improve by simplifying</p>
</header>
<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="https://www.yosamac.com/index.html#profile" title="Profile">Profile</a></li>
        <li class="navbar-item"><a href="https://www.yosamac.com/index.html#work-experience" title="Experience">Experience</a></li>
        <li class="navbar-item"><a href="https://www.yosamac.com/index.html#skills" title="Skills">Skills</a></li>
        <li class="navbar-item"><a href="https://www.yosamac.com/index.html#education"title="Education">Education</a></li>
        <li class="navbar-item"><a href="https://www.yosamac.com/index.html#course" title="Courses">Courses</a></li>
        <li class="navbar-item"><a href="https://www.yosamac.com/index.html#about-me" title="About me">About me</a>
        <li class="navbar-item"><a href="https://www.yosamac.com/index.html#contact" title="Contact">Contact</a></li>
    </ul>
</nav>