#side-nav {
    .navbar-brand {};
    .navbar-nav .nav-item .nav-link{
        font-weight: 600;
        text-transform: uppercase;
        color:$tech-text-color;
    }
}

@media (min-width: 992px) {
  #side-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: $sidebar-base-width;
    .navbar-brand {
      display: flex;
      margin: auto auto 0;
      .img-profile {
        border: 0.5rem solid fade-out($white, 0.8);
        max-width: 10rem;
        max-height: 10rem;
        margin-bottom: .5rem!important;
      }
      
    }
    .navbar-collapse {
      align-items: flex-start;
      display: flex;
      flex-grow: 0;
      margin-bottom: auto;
      width: 100%;
      .navbar-nav {
        flex-direction: column;
        width: 100%;
        .nav-item {
          display: block;
          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}
.bg-primary {
  background-color: $tech-bg-color;
}

.rounded-circle {
 border-radius: 50%!important;
}

.d-none {
  display: none!important;
}

