@keyframes typing {
    from { 
        width: 0; 
    }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

.clearfix:after {
    content: " ";
    clear: both;
	display: block;
    height: 0;
    visibility: hidden;
}

.navbar {
    background-color: var(--main-text-color);
    background-color: #F7F7F7;
	position: fixed;
	top: 0;
    width:100%;
    z-index: 1;
}

.navbar > .navbar-list {
    float:left;
	font-size: 0px;
	list-style-type: none;
	margin:0;
}

.navbar > .navbar-list > .navbar-item {
    font-size: 16px;
	display: inline;
}

.navbar > .navbar-list > .navbar-item a {
    color: var(--main-bg-color);
    color: rgba(0,0,0,0.92);
	display: inline-block;	
	padding: 20px;
	text-decoration: none;
}

.navbar > .navbar-list > .navbar-item.active a {
    color: var(--main-text-color);
    color: #F7F7F7;
    background-color: var(--section-bg-color);
    background-color: #3DA0D4
}

.navbar > .navbar-list > .navbar-item a:hover{
     color: var(--main-text-color) ;
     color:#F7F7F7;
     background-color: var(--section-bg-color);
     background-color: #3DA0D4;
}

.header-img {
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(https://www.yosamac.com/img/backstrech.jpg);
    height: 100vh;
}

.header-title {
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    color: #D1ECFD;
    font-size: 100px;
    position: absolute;
    top:20%;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.header-quoted {
    position: absolute;
    top: 46%;
    left: 32%;
    z-index: 1;
    text-align: center;
    color: #D1ECFD;
    font-size: 60px;
    width: calc(0.55em * 18);
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
}
