

.section-container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-title {
    color:rgba(0,0,0,0.85);
    font-variant: all-small-caps;
    font-weight: 900;
    text-align: center; 
}

.profile {
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
}

.profile-photo > img {
    border-radius: 50%;
	height: 300px;
    max-width: 300px;
    margin-left: 20px;
}

.profile-social-nerdwork > h5 {
	display: block;
}

.profile-social-nerdwork > h5 > a{
    padding: 3px;
	text-decoration: none;
}

.work-experience-flex, 
.education-flex, 
.course-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.experience-item, 
.education-item, 
.course-item {
    background: #fff;
    border: 1px solid var(--box-boder-color);
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 30px;
    margin-left: 30px;
    max-height: 400px;
    width: 400px;
}

.experience-item:hover {
    box-shadow: 0 0 0 1px var(--section-bg-color);
    transition: all 200ms ease-out;
}

.experience-header, 
.education-header, 
.course-header {
    text-align: center;
}

.experience-detail, 
.education-detail, 
.course-detail {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.experience-detail > i, 
.education-detail > i, 
.course-detail >i {
    padding-bottom: 20px;
}

.experience-detail .fa, 
.education-detail .fa, 
.course-detail .fa {
    display: block;
}

.fa > .position, .fa > .degree {
    font-weight: 500;
    font-size:20px ;
    font-variant: all-small-caps;
}

.experience-tech {
    align-items:center;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    width: 100%;
}

.skill-tech-item {
    background-color: var(--tech-bg-color);
    color: var(--tech-text-color);
    margin-bottom: 5px;
    padding: 5px;
}

.skills-flex {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: space-around;
    width: 100%;
}

.skills-flex > span {
    margin: 20px 20px;
}

.education {
	padding: 10px;
}
.education-item{
    max-height: 300px;
    width: 300px;
}

.time-info {
    color: var(--secondary-text-color);
	font-size: 14px;
	font-weight: lighter;
}

.about-me > .me-video {
    float: left;
    max-width: 50%;
}

.about-me > .me-info {
    float: right;
    max-width: 50%;
}

.form-row {
    color:var(--box-skills-color);
    padding: 10px;
}

.section-reverse {
    background-color: var(--section-bg-color);
    background-color: #3DA0D4;
    color: #fff;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.centered {
    box-sizing: border-box;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
}

.contact input[type="text"], 
#contact textarea, 
.contact input[type="email"], 
.contact input[type="tel"] {
    background-color: #fff;
}

.hidden {
    display: none;
}

.personal-info > .form-row > label, 
.meeting-title {
    display: block;
    letter-spacing: 0.15em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.meeting-option {
    font-variant: all-small-caps;
    font-size: large;
}

.errormsg {
    color: #dd4b39;
    display: block;
    line-height: 17px;
    margin: .5em 0 0;
}

.alertmsg {
    color: #E9F015;
    display: block;
    line-height: 17px;
    margin: .5em 0 0;
}

.invalid {
    border: 2px solid #dd4b39;
}

.inbox > .section-title {
    margin-top: 50px;
    text-align: center;
}

.button-remove {
    background-color: #E84C3D !important;
    padding: 5px;
}

.message-body {
    margin-bottom: 5px;
    padding: 20px;
}

.phone {
    float: right; 
}
