.sprite {
    background-image: url(https://yosamac.com/img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-git {
    background-position: -352px -9px;
    height: 60px;
    width: 63px;
}

.sprite-mysql {
    background-position: -226px -11px;
    height: 60px;
    width: 63px;
}

.sprite-android {
    background-position: -97px -8px;
    height: 60px;
    width: 63px; 
}

.sprite-html5 {
    width: 63px;
    height: 60px;
    background-position:  -487px -9px;
}

.sprite-css3 {
    width: 63px;
    height: 60px;
    background-position:-417px -11px;
}

.sprite-java {
    width: 63px;
    height: 60px;
    background-position: -96px -77px;
}

.sprite-linux {
    width: 63px;
    height: 60px;
    background-position: -33px -78px;
}

.sprite-mongodb {
    width: 63px;
    height: 60px;
    background-position: -284px -11px;
}

.sprite-nodejs {
    width: 63px;
    height: 60px;
    background-position: -100px -145px;
}

.sprite-xcode {
    width: 63px;
    height: 60px;
    background-position: -488px -80px;
}

.sprite-sqldeveloper {
    width: 63px;
    height: 60px;
    background-position: -224px -81px;
}

.sprite-webstorm {
    width: 63px;
    height: 60px;
    background-position: -284px -81px;
}

.sprite-sublimetext {
    width: 63px;
    height: 60px;
    background-position: -30px -145px;
}

.sprite-objc {
    width: 63px;
    height: 60px;
    background-position: -285px -149px;
}

.sprite-javascript {
    width: 63px;
    height: 60px;
    background-position: -417px -80px;
}

.sprite-sketch {
    width: 63px;
    height: 60px;
    background-position: -162px -149px;
}

.sprite-androidstudio {
    width: 63px;
    height: 60px;
    background-position: -223px -149px;
}

.sprite-netbeans{
    width: 63px;
    height: 60px;
    background-position: -100px -212px;
}

.sprite-eclipse {
    width: 63px;
    height: 60px;
    background-position: -32px -212px;
}
.sprite-vstudio {
    width: 63px;
    height: 60px;
    background-position: -351px -144px;
}

.sprite-inkscape {
    width: 63px;
    height: 60px;
    background-position: -284px -213px;
}

.sprite-joomla {
    width: 63px;
    height: 60px;
    background-position: -162px -213px;;
}

.sprite-msaccess {
    width: 63px;
    height: 60px;
    background-position: -352px -80px;
}

.sprite-sqlserver {
    width: 63px;
    height: 60px;
    background-position: -417px -145px;
}

.sprite-svn {
    width: 63px;
    height: 60px;
    background-position: -417px -212px;
}

.sprite-delphi {
    width: 63px;
    height: 60px;
    background-position: -352px -212px;
}

.sprite-win2server {
    width: 63px;
    height: 60px;
    background-position: -223px -212px;
}

.sprite-php {
    width: 63px;
    height: 60px;
    background-position: -161px -11px;
}

.sprite-jquery {
    width: 63px;
    height: 60px;
    background-position: -162px -79px;
}

.sprite-osx {
    width: 63px;
    height: 60px;
    background-position: -33px -11px;
}