// Variables

// Restate Bootstrap Variables

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #BD5D38 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $orange !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Page Variables

$main-text-color: #F7F7F7;
$secondary-text-color: #A4A4A4;
$third-text-color:#F9F9F9;
$main-bg-color:rgba(0,0,0,0.92);
$section-bg-color:#3DA0D4;
$menu-text-color:#42B5EF;
$menu-secondary-text-color:#5C79BD;
$tech-bg-color:#E1ECF4;
$tech-text-color:#7D90A7;
$box-boder-color:#E5E5E5;
$box-skills-color:#F9F9F9;

$sidebar-base-width: 17rem;